body {
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Bubbles', cursive;
    word-spacing: 10px;
}

.container {
    width: 570px;
    margin: 0 auto;
}

img {
    width: 60%;
    border-radius: 50%;
}

/* header {
    color: rebeccapurple;
    background-color: thistle;
} */

.inverse {
    color: lightyellow;
    background-color: rosybrown;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 20px 0;
    margin-bottom: 20px;
}

.about-me {
    background-color: mistyrose;
    color: hotpink;
    font-family: inherit;
}

header,
section {
    padding: 100px 0;
}

.btn {
    color: rebeccapurple;
    font-size: xx-large;
    text-decoration: underline;
}

/* .heart {} */

#heart-box {
    background-color: rosybrown;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 10%;
}

#heart-icon {
    background-color: blue;
}

#heart-icon:hover {
    background-color: green;
}

.popup {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: hotpink;
    padding: 20px;
    border: 1px solid red;
    box-shadow: 0px 0px 10px 0px orange;
}

button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: none;
}

button:active {
    background-color: hotpink;
}