body {
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Bubbles', cursive;
}

img {
    width: 30%;
}

header {
    font-size: 81px;
    color: rebeccapurple;
    background-color: thistle;

}

.about-me {
    background-color: mistyrose;
    color: hotpink;
    font-family: inherit;
}

.project {
    color: lightyellow;
    background-color: rosybrown;
}

header,
section {
    padding: 100px 0;
}

.btn {
    font-size: xx-large;
    text-decoration: underline;
}