/* h1, */
#title {
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Bubbles', cursive;
    color: #c2157e
}

#filler {
    height: 100px;
}

#content {
    height: 800px;
    border-color: #c2157e;
    border-style: dashed;
    /* margin: 40px; */
    border-radius: 45px;
}

img {
    width: 50%;
}

header {
    background-color: thistle;
    margin: 0;
}

.about-me {
    background-color: mistyrose;
}

.project {
    background-color: antiquewhite;
}